<h1>Confirmation:</h1>
<h3>Your car:</h3>

<ul>
  <li>@Model.GetMake()</li>
  <li>@Model.GetModel()</li>
  <li>@Model.GetYear()</li>
  <li>@Model.GetPrice()</li>
  <li>@Model.GetColor()</li>
</ul>
<p><a href="/carLot">View All Cars</a></p>
<p><a href="/">Add Another Car to be chopped... i mean sold</a></p>
